
.movePlanex{
  animation: movePlane 2s infinite linear;
  z-index: -10;
  color: #1C498D;
}
.text-primary{
  color: #1c498d !important;
}

@keyframes movePlane {
  0%{
    left: 0;
    transform: scale(1.5) translateY(-50%) translateX(-100%) rotate(45deg);
    
  }
  
  100%{
    left: 130%;
    transform: scale(1.5) translateY(-50%) translateX(-50%) rotate(45deg);
  }
}


.date-picker {
  display: inline-block;
  min-width: 10rem;
  min-height: 3.5rem;
  padding: .5rem;
  border-radius: .35rem;
  position: relative;
  isolation: isolate;
}

.date-picker,
.date-picker>* {
  cursor: text;
  font-size: 1.2rem;
}

.date-picker:hover {
  background: rgba(40, 40, 250, 0);
}

.date-picker:active {
  background: rgba(40, 40, 250, 0);
}

.date-picker:focus>input[type="date"],
.date-picker:focus-within>input[type="date"] {
  color: rgba(0, 0, 255, 0);
  text-decoration: none;
}

.date-picker:focus,
.date-picker:focus-within {
  box-shadow: 0 0 0 .1rem rgba(0, 0, 255, 0);
}

.date-picker>.placeholder::after {
  content: "Click for calender";
  pointer-events: none;
  position: absolute;
  inset: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #222;
}

.date-picker:focus>.placeholder,
.date-picker:focus-within>.placeholder,
.date-picker>input[type="date"]:valid+.placeholder {
  display: none;
}

.date-picker>input[type="date"] {
  background: none;
  border: none;
  outline: none;
  color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.date-picker>input[type="date"]:valid {
  color: #000 !important;
}