
.movePlanex{
  animation: movePlane 2s infinite linear;
  z-index: -10;
  color: #1C498D;
}
.text-primary{
  color: #1c498d !important;
}

@keyframes movePlane {
  0%{
    left: 0;
    transform: scale(1.5) translateY(-50%) translateX(-100%) rotate(45deg);
    
  }
  
  100%{
    left: 130%;
    transform: scale(1.5) translateY(-50%) translateX(-50%) rotate(45deg);
  }
}